<p> Une nouvelle demande de contact</p>

<ul>
    <li> Nom: {{ data.lastname}} </li>
    <li> Email: {{ data.email }} </li>
    <li> Message: {{ data.content }} </li>
    <li> Date: {{ data.submitted_at }} </li>
    <li> service email: {{ data.service_email }} </li>

</ul>