{% extends 'admin/admin.html.twig' %}

{% block title %}Editer la category{{ category.name }}! ✅{% endblock %}

{% block body %}
    
    <h1>Editer Recette {{ category.name }}! </h1>

    {{ form_start(form)}}
        <div class="d-flex">
            {{form_row(form.name)}}
        </div>
    {{ form_end(form)}}
{% endblock %}